<div class="header">
  <h3>Текущая погода</h3>
  <p>{{getDate(todayWeather.dt)}}</p>
</div>
<div class="main">

  <div class="weather-description">
    <img src="{{getImg(todayWeather.weather[0].icon)}}" alt="">
    <p>{{todayWeather.weather[0].description}}</p>
  </div>

  <div class="temperature">
    <p class="bix-text">{{getTemperature(todayWeather.main.temp)}}&#176;C</p>
    <p class="small-text">ощущается как {{getTemperature(todayWeather.main.feels_like)}}&#176;C</p>
  </div>

  <div class="wind">
    <div class="wind-info">
      <p>Скорость ветра</p>
      <p>{{todayWeather.wind.speed}}м/с</p>
    </div>
    <div class="wind-info">
      <p>Порывы ветра</p>
      <p>{{todayWeather.wind.gust}}м/с</p>
    </div>
    <div class="wind-info">
      <p>Напаравление ветра</p>
      <p>{{getWindDestination(todayWeather.wind.deg)}}</p>
    </div>
  </div>

  <div class="sun-rise">
    <div class="sun-rise-info">
      <p>Восход</p>
      <p>{{calculateSunriseSunset(todayWeather.sys.sunrise)}}</p>
    </div>
    <div class="sun-rise-info">
      <p>Закат</p>
      <p>{{calculateSunriseSunset(todayWeather.sys.sunset)}}</p>
    </div>
    <div class="sun-rise-info">
      <p>Длительность</p>
      <p>{{calculateSunriseDuration(todayWeather.sys.sunset - todayWeather.sys.sunrise)}}</p>
    </div>
  </div>

</div>
