 <div class="one-day-container"
      *ngFor="let day of fiveDayWeatherList"
      (click)="getHourlyWeather(fiveDayWeather.list, hourlyWeatherDaysList, day)">
    <p>{{getDate(day.dt)}}</p>
    <div class="img-container">
      <img src="{{getImg(day.weather[0].icon)}}" alt="">
    </div>
    <p>{{getTemperature(day.main.temp)}}&#176;C</p>
    <p class="lower-text">Ощущается как {{getTemperature(day.main.feels_like)}}&#176;C</p>
    <p class="lower-text">{{day.weather[0].description}}</p>
  </div>

